---
---

@import "{{ site.theme }}";

aside {
  background: #4b8bbe;
}

body {
  background: #ffe873;
  color: #646464;
}

a {
  color: #306998;
}

// Start lists at 0 instead of 1
ol {
    counter-reset: num -1; // reset counter to -1 (any var name is possible)
}

